@import "styles/fonts";
@import "styles/mixins";
@import "styles/variables";

.asset_container {
  @include border($color-card-border);
  @include flex(center, space-around, column);
  width: 304px;
  height: 185px;
  border-radius: 10px;
  margin: 10px;

  .name__button {
    @include flex(center, space-around, column);
    width: 90%;
    box-sizing: border-box;

    span {
      //   font-family: "Readex Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #000000;
      text-transform: capitalize;
      text-align: center;
      margin: 0 auto 10px;
    }

    button {
      border: none;
      outline: none;
      width: 90px;
      height: 31px;
      background: #6fd791;
      border-radius: 8px;
      //   font-family: "Readex Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      text-transform: capitalize;
      text-align: center;
      color: #ffffff;
    }
  }
}
